<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Basket | MealMaster</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Load icon library for search bar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" href="../styles/style.css" type="text/css">
    <link rel="stylesheet" href="../styles/basket.css" type="text/css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <script src="public/scripts/basket.js"></script>
    <script>
        var ingredients = <%- JSON.stringify(ingredients) %>
    </script>
</head>
<body>
    <header>
        <h1>MealMaster</h1>
    </header>
    <nav>
        <%- include('./navbar.ejs', {active: "Basket"}); %>
    </nav>



    <div id="calendar_area">

        <div class="week">Week
        </div>

        <table id="calendar">
            <tr>
                <td>Sun<br>14/4 </td>
                <td>Mon<br>15/4</td>
                <td>Tue<br>16/4</td>
                <td>Wed<br>17/4</td>
                <td>Thur<br>18/4</td>
                <td>Fri<br>19/4</td>
                <td>Sat<br>20/4</td>
            </tr>

        </table>

    </div>



    <table id="ingredients">
        <tr></tr>
        <tr>
            <td class="ingredient_name"><input type='button' class="delete_button" value='-'/>    Broccoli</td>
            <td class="life_bar_track">
                <input type="range" class="w3-green w3-round-large life_bar" style="width:14%;">
            </td>
            <td class="len_handler">
                <input type="button" class="button_left" value="<">
                <input type="button" class="button_right" value=">">


            </td>
        </tr>
        <tr>
            <td class="ingredient_name"><input type='button' class="delete_button" value='-'/>  Carrot</td>
            <td class="life_bar_track">
                <input type="range" class="w3-green w3-round-large life_bar" style="width:14%;">
            </td>
            <td class="len_handler">
                <input type="button" class="button_left" value="<">
                <input type="button" class="button_right" value=">">

            </td>
        </tr>
        <tr>
            <td class="ingredient_name"><input type='button' class="delete_button" value='-'/>  Salad leaves</td>
            <td class="life_bar_track">
                <input type="range" class=" w3-green w3-round-large life_bar" style="width:14%;">
            </td>
            <td class="len_handler">
                <input type="button" class="button_left" value="<">
                <input type="button" class="button_right" value=">">
            </td>
        </tr>


    </table>

    <div class="search" ng-app="search_ingredients">

        <div class="search_bar">
                <label>Add ingredients to your basket:</label>
                <input type="text" class = "search" placeholder="Type in the ingredient.." name="search" ng-model="searchBox">

        </div>

        <div class="search_result">
            <table>
                <tr ng-repeat="ingredient in ingredients | filter: searchBox" ng-if="$index < 10">
                    <td><input type='button' value="+" id="button_{{ingredient.id}}" class="plus_button" /></td>
                    <td>{{ingredient.name}}</td>
                    <td><img src="{{ingredient.img}}" alt="{{ingredient.name}}"></td>
                </tr>
            </table>
        </div>
    </div>

    <script>
        angular.module("search_ingredients", [])
            .run(function($rootScope){
            $rootScope.ingredients = ingredients;
        });

        // if the add button is clicked, add the ingredients to the ingredients table, and initialise the button size to be 5/7
        $(".search_result").on("click", ".plus_button", function(event){

            // get the button index
            var button_id = $(this).attr("id");
            var button_index = parseInt(button_id.slice(7));

            // contruct html to be added
            var name = ingredients[button_index].name;
            var html =
                "<tr><td class=\"ingredient_name\"><input type='button' class=\"delete_button\" value='-'  />" + " "+name +
                "</td><td class=\"life_bar_track\">" +
                "<input type=\"range\" class=\" w3-green w3-round-large life_bar\" style=\"width:1/7 * 100%\"></td>" +
                "<td class=\"len_handler\"><input type=\"button\" class=\"button_left\" value=\"<\">\n" +
                "<input type=\"button\" class=\"button_right\" value=\">\"></td></tr>";

            $("#ingredients tr:last").after(html);


        });


    </script>



</body>

</html>