<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
    <div class="icon-bar">
        <a href="../">Home</a>
    </div>
    <div class="contact">
        <p><img src="logo.png" alt="Northern Lights" align="middle"></p>
            <% for(var i = 0; i < member.length; i++) { %>
                <h2><%= member[i].name %> </h2>
                <h2><%= member[i].Email %> </h2>
        <% } %>
    </div>
</body>
</html>