<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>

<% for(var i = 0; i < member.length; i++) { %>
<h2><%= member[i].name %> </h2>
<h2><%= member[i].Email %> </h2>
<% } %>
</body>
</html>