<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>
<body>
<h1>Welcome to MealMaster</h1>
<a href="items">View meals</a>
<p>Some text</p>

</body>
</html>