<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="stylesheet" href="/styles/style.css" type="text/css">

</head>
<body>
<h1>All users</h1>
<% for(var i = 0; i < data.length; i++) { %>
    <h2><%= data[i].food %> </h2>
    <p><a href="item/<%=i%>"> More details</a></p>
<% } %>

<nav>
    <a href="../">Back</a>
</nav>
</body>
</html>