<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | MealMaster</title>

    <link rel="stylesheet" href="../styles/login.css">
    <script src="public/scripts/login.js"> </script>
</head>
<body>

<form method="get">
    <h1>MealMaster</h1>
    <label>email: </label>
    <input type="text" name="email" id="email"/>
    <label>password: </label>
    <input type="password" name="password" id="password"/>
    <input onclick="login()" type="button" value="Enter"></input>

</form>

<p id="output"></p>

</body>
</html>