<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Meals</title>
    <link rel="stylesheet" href="/styles/meals.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="public/scripts/searchMeal.js"></script>
    <script type="text/javascript" src="public/scripts/filterMeal.js"></script>

</head>
<body>
<header>

</header>


<div class="wrapper">
    <div class="nav">
        <a href="/">Home</a>
        <a href="/plan">Plan</a>
        <a href="/ingredients">Ingredients</a>
        <a href="/meals" class="active">Meals</a>
        <a href="/basket">Basket</a>
        <a href="/profile">Profile</a>
    </div>
    <div class="filter">
        <form action="" method="GET" id="form1">
            <input type="text" class="search" name="search" placeholder="Search meal">
            <button type="submit">Search</button>
        </form>
        <br>

        <form action="" name="filter" method="GET" id="form2">
        <input type="checkbox" name="category" value="All" checked>All<br>
        <input type="checkbox" class="category" name="category" value="American" onchange="document.filter.submit();">American<br>
        <input type="checkbox" name="category" value="Chinese" onchange="document.filter.submit();">Chinese<br>
        <input type="checkbox" name="category" value="French" onchange="document.filter.submit();">French<br>
        <input type="checkbox" name="category" value="German" onchange="document.filter.submit();">German<br>
        <input type="checkbox" name="category" value="Korean" onchange="document.filter.submit();">Korean<br>
        <input type="checkbox" name="category" value="Japanese" onchange="document.filter.submit();">Japanese<br>
        <input type="checkbox" name="category" value="Thai" onchange="document.filter.submit();">Thai<br>
        </form>

    </div>
    <div class="meals">
        <% for(var i=0; i<meals.length; i++){%>
        <div class="meal">
            <a href="/addMeal/<%=meals[i].id%>">
            <p>
            <img src="<%= meals[i].image%>" width="250" alt="<%= meals[i].name%>"><br>
            <%= meals[i].name%>
            </p>
            </a>
        </div>
        <%}%>
    </div>
    <div class="footer"></div>
</div>


</body>
</html>