<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan | MealMaster</title>
    <link rel="stylesheet" href="/public/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/plan.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Permanent+Marker" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/scripts/plan.js"> </script>
    <%

    function getMeals(basket){
        var meals = [];
        var prevMealName;
        var ingredientsFound;
        var needed;
        var candidateMeal;
        for (var i = 0; i < basket.length; i++){
            var ingredient = basket[i];
            if(ingredient.meal) {
                if (prevMealName == null || ingredient.meal.name != prevMealName){
                    prevMealName = ingredient.meal.name;
                    candidateMeal = ingredient.meal;
                    needed = candidateMeal.components.length;
                    ingredientsFound = 1;
                }else{
                    ingredientsFound ++;
                    if (ingredientsFound == needed){
                        meals.push(candidateMeal);
                    }
                }
            }
        }
        return meals;
    }
    %>
</head>
<body>

<header>
    <h1>MealMaster</h1>
</header>
<nav>
    <%- include('./navbar.ejs', {active: "Plan"}); %>

</nav>

<div id="plan">
    <h2>Plan</h2>
    <button onclick="removeAll()">Clear</button>
    <div class="plan-day">
        <h3>Monday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
    <div class="plan-day">
        <h3>Tuesday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
    <div class="plan-day">
        <h3>Wednesday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
    <div class="plan-day">
        <h3>Thursday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
    <div class="plan-day">
        <h3>Friday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
    <div class="plan-day">
        <h3>Saturday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
    <div class="plan-day">
        <h3>Sunday</h3>
        <div class="img_wrap" onclick="removeFromPlan(this)"></div>
    </div>
</div>


<aside id="meals">
    <h2>Meals</h2>
    <ul id = "meals-list">
        <%  if(user.basket != null){
                meals = getMeals(user.basket);
                for (var meal of meals){
                %>
                <li class="img_wrap" onclick="add2plan(this)">
                            <img src="<%=meal.image%>" width="200" alt="<%=meal.name%>"
                                 title="Add to plan">
                            <p><%=meal.name%></p>
                </li>
            <%  }

        }%>

    </ul>
    <button id="autofill-plan" onclick="addAll()"><< Autofill</button>
</aside>
<footer>
</footer>

</body>
</html>