<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plan | MealMaster</title>
    <link rel="stylesheet" href="/public/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/plan.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Permanent+Marker" rel="stylesheet">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="public/scripts/plan.js"> </script>
</head>
<body onload="loadPlan()" onunload="updateBasketDb()">

<nav>
    <%- include('./navbar.ejs', {active: "Plan"}); %>

</nav>
<h1>My Plan</h1>
<div id="plan">
    <h2>Plan</h2>
    <button onclick="removeAll()">Clear</button>
    <%
        const options = {weekday:'long', year:'numeric', month:'numeric', day:'numeric'};
    for(i=0; i<8; i++){
        var date = new Date(new Date().getTime()+i*24*60*60*1000);
        %>
        <div class="plan-day" ondragover="allowDrop(event)" ondrop="dropPlan(event)">
            <h3><%=date.toLocaleDateString("en-AU", options)%></h3>
        </div>
    <%}%>
</div>


<aside id="meals">
    <h2>Meals</h2>
    <ul id = "meals-list" ondragover="allowDrop(event)" ondrop="dropList(event)">

    </ul>
    <button id="autofill-plan" onclick="addAll()"><< Autofill</button>
</aside>
<footer>
    <%- include('./footer.ejs'); %>
</footer>

</body>
</html>