<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopping List | MealMaster</title>
    <link rel="stylesheet" href="/public/styles/style.css" type="text/css">
    <link rel="stylesheet" href="/public/styles/shoppinglist.css" type="text/css">
</head>
<body>
<section>
    <h2>
        Shopping List
    </h2>
    <ul>
        <% for (var element of basket){%>
        <li>
            <label class="container">
                <input type="checkbox"\>
                <span class = "checkmark"></span>
                <p><%=element.name%></p>
            </label>
        </li>
        <%}%>
    </ul>
    <a href="home">< Back</a>
    <a href="plan">Finished</a>
</section>
</body>
</html>