<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | MealMaster</title>
    <link rel="stylesheet" href="../styles/login.css">
</head>
<body>

<form>
    <h1>MealMaster</h1>
    <label>email: </label>
    <input type="email" name="email">
    <label>password: </label>
    <input type="password" name="password">
    <label>confirm password: </label>
    <input type="password" name="password">
    <button onclick="" id="signup">Sign up!</button>
    <a href="/login">Already a member?</a>
</form>
</body>
</html>