<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All users</title>
</head>
<body>
<h1>All users</h1>
<% for(var i = 0; i < data.length; i++) { %>
    <h2><%= data[i].first %> <%= data[i].last%></h2>
    <p><a href="user/<%=i%>"> Go to profile</a></p>
<% } %>

<nav>
    <a href="../">Back</a>
</nav>
</body>
</html>