
body{
    display: grid;
    grid-template-areas:
            "nav header      header      header"
            "nav meals       meals       list"
            "nav ingredients ingredients list"
            "nav footer     footer  footer";
    grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
}


@media screen and (min-width: 550px){
    body{
        grid-template-areas:
                "nav header      header      header"
                "nav meals       meals       list"
                "nav ingredients ingredients list"
                "nav footer     footer  footer";
        grid-template-columns: 1fr 1.5fr 1.5fr 1.5fr;
    }
}


#meals {
    grid-area: meals;
}

#ingredients {
    grid-area: ingredients;
}

.item_section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 4em 18em 18em;
    line-height: 4em;
    padding: 0;
}


.item_section h2{
    grid-row: 1;
    grid-column: 1;
    margin: 0;
}


#shoppingList{
    grid-area: list;
    background-color: rgb(209,218,203);
    min-width: 20em;
    max-height: 60%;
    display: grid;
    grid-template-columns: auto 4em;
    grid-template-rows: 2em 2em auto 2em;
    line-height: 2em;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    overflow: scroll;
}

#shoppingList h2{
    margin: 0;
}

#shoppingList ul{
    list-style-type: none;
    padding: 0;
    grid-column: span 2;
}

#shoppingList li{
    height: 2em;
    line-height: 2em;
}

.shopping_list_item{
    display: inline;
    margin-left: 5px;
    size: 2em;
    height: 2em;
}

#shoppingList li .expand{
    float: right;
    top: 50%;
}
#shoppingList li .fold{
    float: right;
    top: 50%;
}

#shoppingList li .remove{
    float: left;
    top: 50%;
}

#shoppingList #go-shopping{
    grid-column: 1/span 2;
    border-radius: 5px;
    display: inline-block;
    color: rgb(118,144,76);
    background-color: rgb(243,243,245);
    text-decoration: none;
    border: none;
    text-align: center;

}

#shoppingList #go-shopping:hover{
    background-color: rgb(183,206,164);
}




@media screen and (min-width: 1300px){
    .item_section {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: 4em 18em;
    }
    .item_section h2 {
        grid-column: 1/span 2;
    }
}

@media screen and (min-width: 1500px){
    .item_section {
        grid-template-columns: repeat(4, auto);
        grid-template-rows: 4em 18em;
    }
    .item_section h2{
        grid-column: 1/span 3;
    }
}

img:hover {
    opacity: 0.6;
}

.img_wrap{
    width: 200px;
    height: auto;
    margin: 0;
    padding: 0px;
    border: 2px;
    border-color: rgba(32,31,29,0.7);
    cursor: pointer;
}

.img_wrap img{
    width: 200px;
    margin: 0px;
    border-radius: 5%;
}

.img_wrap img:hover {
    opacity: 0.4;
    transition:opacity 0.5s;
}

/* how to get rid of space between img and p???? */
.img_wrap p{
    margin: 0;
    line-height: 2em;
}

.collapse {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

form #description{
    height:12em;
    width: 30em;
}

form li{
    display: grid;
    grid-template-columns: 2em auto;
    grid-column-gap: 1em;
}
form ul,li{
    margin: 0;
    padding: 0;
}

form .comp-qty,.comp-name{
    display: block;
    padding: 5px 10px 5px 10px;
    margin: 0;
    line-height: 1em;
}

.comp-qty{
    grid-column: 1;
}

.comp-name{
    grid-column: 2;
}


.dropdown-item{
    margin: 0;
    cursor: pointer;
    width: 200px;
}

#ingredient-name-input{
    width:200px;
}

.dropdown-item:hover{
    background-color: rgba(136, 136, 136, 0.35);
}

#add-component-form{
    width: 40%;
    min-width: fit-content;
    margin: 30% 30% auto 30%;
}

#add-component-qty, #new-ingredient-shelf-life{
    width:3em;
}

form input[type=url]{
    width:300px;
}
