.wrapper {
    display: grid;
    grid-template-columns:250px;
    grid-template-rows:auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    grid-template-areas: "nav shoppinglist"
    "filter main"
    "page page"
    "footer footer";
}
@media screen and (min-width: 550px){
    body{
        grid-template-areas: "nav nav"
        "filter  main"
        "page page"
        "footer footer";
    }
}
img:hover {
    opacity: 0.6;
}

.nav {
    grid-area: nav;
    background-color: rgba(226, 147, 91, 0.81);
    align-self: center;
    font-family:'GlacialIndifferenceRegular', sans-serif;
    font-weight: 700;
    width: 100vw;
}

.nav a {
    float: left;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 12px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.nav a:hover {
    background-color: rgba(255, 255, 255, 0.63);
}

.active {
    background-color: rgba(0, 0, 0, 0.2);
}

.items {
    grid-area: main;
    background-color: rgba(177, 245, 193, 0.3);
}

.items .item{
    display:inline-grid;
    padding:6px;
    position: relative;
}
.items .item img{
    border-radius: 10px;

}

.items .item img:hover {
    opacity: 0.7;
}
p{
    text-align: center;
}
.overlay {
    position:relative;
    top: -110px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 83%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.item:hover .overlay {
    opacity: 1;
}

.filter {
    grid-area: filter;
    color:black;
    padding:10px;
    background-color: rgba(177, 245, 193, 0.3);
    height: 100vh;
}

.filter .search {
    height: 20px;
    width: 70%;
    position: relative;
    border: 2px solid #cccac9;
    border-color: rgba(0,0,0,0.14);
    background-color: AliceBlue ;
    font-size: 14px;
}

.filter button {
    padding: 3px;
    background: #ddd;
    font-size: 14px;
    cursor: pointer;
}

.item button{
    width: 100%;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
}
.pages{
    grid-area: page;
    background-color: rgba(126, 194, 189, 0.3);
    font-size: 18px;
}

.pages a{
    text-decoration: none;
}
.pages a:hover {
    color:cornflowerblue;
}
#pre{
    position:absolute;
    right:80px;
}
#next{
    position:absolute;
    right:20px;
}
.disable_a_href{
    pointer-events: none;
    cursor:default;
    color: #bbbbbb;
}
.sidebar{
    height:100%;
    width:500px;
    background-color:#fff;
    position:fixed!important;
    z-index:1;
    overflow:auto
}

.animate-right{
    position:relative;
    animation:animateright 0.4s
}

@keyframes animateright{
    from{right:-300px;opacity:0}
    to{right:0;opacity:1}
}

.cart{
    color:#fff!important;
    background-color:rgba(226, 147, 91, 0.81)!important
}

.button:hover{
    color:#000!important;
    background-color:#ccc!important
}

.xlarge{
    font-size:24px!important
}

.bar-block .bar-item{
    width:100%;
    display:block;
    padding:8px 16px;
    text-align:left;
    border:none;
    white-space:normal;
    float:none;
    outline:0
}
.card{
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)
}
.right{
    float:right
}

#shoppingList{
    grid-area: list;
    background-color: rgb(209,218,203);
    min-width: 20em;
    max-height: 100%;
    display: grid;
    grid-template-columns: auto 4em;
    grid-template-rows: 2em 2em auto 2em;
    line-height: 2em;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;
    overflow: scroll;
}

#shoppingList h2{
    margin: 0;
}

#shoppingList ul{
    list-style-type: none;
    padding: 0;
    grid-column: span 2;
}

#shoppingList li{
    height: 2em;
    line-height: 2em;
}

.shopping_list_item{
    display: inline;
    margin-left: 5px;
    size: 2em;
    height: 2em;
}

#shoppingList li .expand{
    float: right;
    top: 50%;
}
#shoppingList li .fold{
    float: right;
    top: 50%;
}

#shoppingList li .remove{
    float: left;
    top: 50%;
}

#shoppingList #go-shopping{
    grid-column: 1/span 2;
    border-radius: 5px;
    display: inline-block;
    color: rgb(118,144,76);
    background-color: rgb(243,243,245);
    text-decoration: none;
    border: none;
    text-align: center;

}

#shoppingList #go-shopping:hover{
    background-color: rgb(183,206,164);
}

.collapse {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.footer {
    grid-area: footer;
}
