
body{
    display: grid;
    grid-template-areas:
            "nav    header      header      header"
            "nav    plan       plan       meals"
            "nav    plan       plan       meals"
            "nav    footer     footer  footer";
}


@media screen and (min-width: 550px){
    body{
        grid-template-areas:
                "nav header     header    header"
                "nav plan       plan      meals"
                "nav plan       plan      meals"
                "nav footer     footer  footer";
    }
}

#plan{
    grid-area: plan;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 1em;
    grid-template-rows: 4em auto;
    grid-row-gap: 1em;
    padding: 0;

}




@media screen and (min-width: 1200px){
    #plan{
        grid-template-columns: repeat(3, auto);
    }
}

@media screen and (min-width: 1500px){
    #plan{
        grid-template-columns: repeat(4, auto);
    }
}

#plan h2{
    grid-row: 1;
    grid-column: 1 / -2;
    margin: 0;
}

#meals{
    grid-area: meals;
    background-color: rgb(209,218,203);
    min-width: auto;
    width: fit-content;
    display: grid;
    grid-template-columns: auto 4em;
    grid-row-gap: 1em;
    grid-template-rows: 4em auto 4em;
    line-height: 4em;
    margin: 1em;
    padding: 1em;
    border-radius: 25px;



    /*min-width: 20em;*/
    /*max-height: 60%;*/
    /*display: grid;*/
    /*grid-template-columns: auto 4em;*/
    /*grid-template-rows: 2em 2em auto 2em;*/
    /*line-height: 2em;*/

    /*overflow: scroll;*/
}

#meals h2{
    margin: 0;
}

#meals ul{
    grid-column: 1/ -1;
    padding-left: 0;
    margin-top: 0;
    display: grid;
    list-style-type: none;
    grid-template-columns: 200px;
    grid-column-gap: 1em;
}

@media screen and (min-width: 1350px){
    #meals ul{
        grid-template-columns: 200px 200px;
    }
}

#autofill-plan{
    grid-column: 1/-1;
    border: none;
    margin-left: auto;
    margin-right: auto;

}


.plan-day{
    text-align: center;
    height: fit-content;
    min-height: 280px;
    width: 210px;
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    border-color: black;
}

.warning{
    background-color: rgba(218, 30, 36, 0.77);
}

.plan-day *{
    margin: auto;
}


.img_wrap{
    width: 200px;
    height: auto;
    padding: 0px;
}

.img_wrap img{
    width: 200px;
    margin: 0px;
    border-radius: 5%;
}

.img_wrap img:hover {
    opacity: 0.4;
    transition:opacity 0.5s;
}

.img_wrap p{
    margin: 0;
    line-height: 2em;
}

.warning-info-button{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgba(0,0,0,0);
    border-width: 3px;
    border-color: white;
    font-weight: bold;
    color: white;
    text-align: center;
}


button{
    border-radius: 5px;
    display: inline-block;
    color: rgb(118,144,76);
    background-color: rgb(243,243,245);
    text-decoration: none;
    border: solid;
    border-width: 1px;
    width: 198px;
    text-align: center;
    height: 4em;

}


button:hover{
    background-color: rgb(183,206,164);
}