body {
    background-color: rgb(253, 255, 246);
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 240px 1fr 1fr;
    grid-template-areas:
                        "nav profile_picture about_me"
                        "nav contact_detail share_with_me";

}



.profile_picture{
    grid-area: profile_picture;
    margin-right: 30px;
}

.profile_picture img {
    display: block;
}


.contact_detail {
    display: block;
    margin-right: 30px;
}

.about_me{
    grid-area: about_me;
    margin-right: 30px;
}

.share_with_me{
    grid-area: share_with_me;
    margin-right: 30px;
}


nav {
    grid-area: nav
}

div {
    grid-column-gap: 3em;
    grid-row-gap:3em;
}