@import url('https://fonts.googleapis.com/css?family=Caveat');
@import url('https://fonts.googleapis.com/css?family=Arimo:400,700|Homemade+Apple');
html{
    height: 100%;
}



body {
    margin: 0;
    background-color: rgba(255, 218, 201, 0.2);
    background-position: center;
    background-size: cover;
    color: rgba(32, 31, 29, 0.84);
    height: 100%;
}

.contact{
    font-family: 'Signika Negative', sans-serif;
}

header{
    grid-area: header;
    height: 15em;
    font-family: 'Homemade Apple', cursive;
    min-height: 15em;
}
nav{
    grid-area: nav;
    background-color: rgba(123, 198, 120, 0.7); /* fix this colour*/
    width: 10em;
    font-family: 'Arimo', sans-serif;
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color: white;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    padding: 1em;
    list-style-type: none;
}

nav li:hover{
    background-color: rgba(215, 142, 41, 0.44); /* fix this colour*/
    color: #fff7e6d6;

}

nav .active{
    background-color: rgba(255, 255, 255, 0.63);
}

h1{
    font-size: 100px;
    font-weight: bold;
}

p{
    font-weight: lighter;
}
a{
    color: rgba(32, 31, 29, 0.84);
}

footer{
    height: 200px;
    line-height: 200px;
}
footer *{
    display: inline-block;
}
