html{
    height: 100pc;
    text-align:center;
    overflow: hidden;

}

body{
    background-image: url("https://source.unsplash.com/4R1YpmGO52I");
    background-position: center;
    background-size: cover;
    text-align-all: center;
    color: #fff7e6d6;
}
.middle {
    margin-top: 15px;
    font-family: 'Noto Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css?family=Caveat');

.contact{
    font-family: 'Signika Negative', sans-serif;
}

h1{
    font-size: 100px;
    font-weight: bold;
}
.middle h2{
    font-size: 50px;
    font-weight: lighter;
    font-family: 'Permanent Marker', cursive;
}

p{
    font-weight: lighter;
}
a{
    color: #fff7e6d6;
}